/dialog.ui
/newbcoin.py
/newbcoinminer.py
/nwebcoinminerconfig.py
/signhashtest.py
/Untitled.png
/walletdata.txt
/__pycache__
.history/apitest_20220202102053.py
apitest.py
thecloud.json
.history
/testignore.txt
